.Game {
    display: flex;
    text-align: center;
    font-family: 'Encode Sans Expanded', sans-serif;
  }
  .author {
    background: cadetblue;
  }
  .ledger-player {
    display: flex;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  li {
    text-align: start;
  }
  
  .m-l-20 {
    margin-left: 20px;
  }
  
  .error {
    color: red;
  }
  .snake {
    position: absolute;
    margin-left: -6px;
    margin-top: 36px;
    color: red;
    background: yellow;
  }
  .ladder {
    position: absolute;
    margin-left: -6px;
    margin-top: 36px;
    color: green;
    background: aqua;
  }
  .each-box {
    display: flex;
    flex-direction: row-reverse;
  }
  .icons-in-box {
    display: flex;
    flex-wrap: wrap;
    width: 48px;
  }
  .P1_shape {
    height: 20px;
    width: 20px;
    background-color: #555;
  }
  .P2_shape {
    height: 20px;
    width: 20px;
    background-color: #500c75;
    border-radius: 50%;
  }
  .P3_shape {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #ffcfcf;
  }
  .P4_shape {
    border-bottom: 15px solid #b7ec8e;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P5_shape {
    border-bottom: 15px solid #410202;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P6_shape {
    border-bottom: 15px solid aqua;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P7_shape {
    border-bottom: 15px solid #f4f0f0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P8_shape {
    border-bottom: 15px solid #c67cbd;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P9_shape {
    border-bottom: 15px solid #f1b613;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P10_shape {
    border-bottom: 15px solid #d2d832;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P11_shape {
    border-bottom: 15px solid #38e855;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P12_shape {
    border-bottom: 15px solid #16deec;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P13_shape {
    border-bottom: 15px solid #2709e7;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P14_shape {
    border-bottom: 15px solid #d75050;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }
  .P15_shape {
    border-bottom: 15px solid #fc03fc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
  }

  .theLayout {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Encode Sans Expanded', sans-serif;
  }
  .board {
    background-image: url("../../Assets/EmptyBoardImage.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
    border-radius: 5px;
    max-width: 600px;
    min-height: 600px;
    height: 600px;
    display: flex;
    flex-flow: column;
    transform: scale(1, -1);
    /* animation-name: flipBoard;
    animation-duration: 100s;
    animation-delay: 2s; */
  }
  
  @keyframes flipBoard {
    0% {
      transform: scale(1);
    }
    3% {
      transform: scale(1, -1);
    }
    100% {
      transform: scale(1, -1);
    }
  }
  
  .box-row {
    display: flex;
  }
  .box-row:nth-child(2n) {
    flex-direction: row-reverse;
    /* animation-name: reverseRows;
    animation-duration: 100s;
    animation-delay: 2s; */
  }
  
  @keyframes reverseRows {
    0% {
      flex-direction: row-reverse;
    }
    3% {
      flex-direction: row-reverse;
    }
    100% {
      flex-direction: row-reverse;
    }
  }
  
  .box {
    width: 59px;
    height: 59px;
    text-align: left;
    vertical-align: text-top;
    transition: 0.2s ease-in;
    position: relative;
    display: flex;
    transform: scale(1, -1);
    /* animation-name: loadingBox;
    animation-duration: 100s;
    animation-delay: 2s; */
  }
  
  @keyframes loadingBox {
    0% {
      transform: scale(1);
    }
    5% {
      transform: scale(1, -1);
    }
  
    100% {
      transform: scale(1, -1);
    }
  }
  
  .box span {
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s ease-in;
  }
  .box:hover span {
    top: 22px;
    left: 20px;
    font-weight: bold;
    transition: 0.1s ease-in;
  }
